form {
	border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
input {
  padding: .5rem;
}
.buttonbasic  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.buttonreport  {
  @extend .buttonbasic;
  background-color: red;
}

.buttonsubmit  {
  @extend .buttonbasic;
  background-color: green;
  color: white;
}